a {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:  1px;
    text-decoration:  none;
}

a:actve {
    color:  white
}

a:hover {
    color:  white;
    text-decoration:  underline;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-left: 20px;
    margin-right: auto; 
    text-align: left;
    line-height:  30px;
    align-self: right;
    display:  inline-block;
    background-color: #3bcaff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

html {
  padding: 0px;
  box-sizing: border-box;
  min-width: 900px;
}

header {
  width: auto;
  height:  200px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

header img {
  height: 60px;
  text-decoration:  none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:  1px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:  1px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-left: 20px;
    margin-right: auto; 
    text-align: left;
    padding:  0px;
    line-height:  5px;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-left: 20px;
    margin-right: auto; 
    text-align: left;
    line-height:  5px;
}


.nav li {
    color: #FFF;
    display: inline-block;
    font-family: 'Monsterrat', sans-serif;   
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
    vertical-align: center;
}

.snav li {
    color: #FFF;
    display: inline-block;
    font-family: 'Monsterrat', sans-serif;   
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    line-height: .4;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
    vertical-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-top: 20px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    padding: 0;
    margin: 0;
    
}

/* For div class */

.one {
    vertical-align:center;
    width: 100%;
    height: 500px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #cbcbcb; 
    align-content:  center;
    margin:  auto; 
}

.two {
    vertical-align:center;
    width: 100%;
    height: 500px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(45, 147, 242); 
    align-content:  center;
    margin:  auto; 
}


.contact {
    vertical-align:center;
    width: 400px;
    height: 400px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(45, 147, 242); 
    align-content:  center;
    margin:  auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.featured {
    vertical-align:center;
    width: 400px;
    height: 400px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(45, 147, 242); 
    align-content:  center;
    margin:  auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header {
    vertical-align:center;
    width: 10000000;
    height: 180px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #212121; 
    align-content:  center;
    margin:  auto;
    overflow: auto;
}

.label {
    vertical-align:center;
    width: 1000000px;
    height: 80px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #212121; 
    align-content:  center;
    margin:  auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav {
    vertical-align:center;
    width: 100%;
    height: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(0, 124, 239); 
    align-content:  center;
    margin:  auto;
    overflow: auto;
}

.snav {
    vertical-align:center;
    width: 100%;
    height: 40px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(0, 96, 185); 
    align-content:  center;
    margin:  auto;
    overflow: auto;
}

.title {
    vertical-align:center;
    width: 400px;
    height: 250px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(45, 147, 242); 
    align-content:  center;
    margin:  auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* For the form.  */

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:  1px;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color:   black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:  1px;
}

.form {
    vertical-align:center;
    width: 50%;
    height: 650px;
    height: 650px;
    border-top-left-radius: 10px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(0, 124, 239); 
    align-content:  center;
    margin:  auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* button */
input[type=submit] {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #efefef;
}


/* Style inputs */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
}

/* End Form */


